.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.SameWidth {
  width:150px;
  height: 38px;
}
.App-header {
  background-color: #222;
  height: 175px;
  padding: 20px;
  color: white;
}
.InputBoxHeight {
  height: 38px;
}
.App-intro {
  font-size: large;
}
/* input {
  line-height:2
} */
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
form {
	border: thin solid #ddd;
  background-color: #fbfbfb;
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}
.footerStyle {
  backgroundColor: "black";
  fontSize: "20px";
  color: "white";
  borderTop: "1px solid #E7E7E7";
  textAlign: "center";
  padding: "20px";
  position: "fixed";
  left: "0";
  bottom: "0";
  height: "60px";
  width: "100%";
}
.phantom {
  display: "block";
  padding: "20px";
  height: "60px";
  width: "100%";
}

.item {
  flex: 0 0 auto;
  margin: 10px;
}
.react-datepicker-popper {
  /* z-index: 2; */
  /* top: 34px !important; */
  width:350px
  /* needed because we made it inline */

}

.react-datepicker-wrapper,
.react-datepicker-wrapper .react-datepicker__input-container {
  /* https://github.com/Hacker0x01/react-datepicker/issues/1672 */
  /* width: 50%; */

  /* to make it exactly the same height as the bootstrap input-group-addons */
  /* display: inline; */
}

.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  /* width: 2.7rem; */
  /* line-height: 2.7rem; */
  /* font-size: 1.1rem; */
}


.react-datepicker__current-month,
.react-datepicker-time__header {
  font-size: 1.0rem;
}


.date.form-group .input-group-addon {
  cursor: pointer;
}

.date.form-group .input-group-addon:hover {
  opacity: 0.8;
}